{{js "js/common/common.js"}}
{{js "js/common/pubsub.js"}}
{{js "js/common/widget-renderer.js"}}
{{js "js/common/Sortable.js"}}
{{js "js/constants.js"}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.gridstack"}}

<div class="page-content-wrapper remove-padding-xs" style="margin-left: 1%; margin-top: 1%; margin-right: 1%">
    <div class="container-fluid body-wrapper" style="height: 100%;">
        <div class="page-content">
            <div class="gadgets-grid" id="gadgets-grid">
                <div class="grid-stack" id="grid-stack">
                    {{defineZone "gridContent"}}
                </div>
            </div>
        </div>
    </div>
</div>

{{js "js/designer.js"}}