<div id="sidebar-wrapper widget-config" class="add-padding-5x">
    <button type="button" class="btn btn-primary btn-xs pull-right">
        <i class="fw fw-uncheck widget-config-close" id="widget-config-close"></i>
    </button>
    <div class="config-lable"><label class="control-label">{{i18n "widgetConfiguration"}}</label></div>
    <hr>

    <div id="widget-config-subscriber">
        <span class="label label-default" id="subscribe-label">{{i18n "subscribe.to.label"}}</span>

        <div id="widget-conf-content"></div>

        <div id="pusub-alert-no-publishers" class="alert alert-warning" style="display: none;">
            <strong>{{i18n "no.publishers.found.label"}}</strong>
        </div>
    </div>

    <div id="widget-config-publisher">
        <span class="label label-default" id="publish-label">{{i18n "publishes.to.label"}}</span>
        <input type="text" id="publish-topic">
        <button type="button" class="btn widget-config-publisher-save">{{i18n "publishers.to.save"}}</button>
    </div>

</div>

{{js "js/widget-conf.js"}}
