{{!
Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}
{{secured}}
{{layout "main"}}
{{fragment "org.wso2.carbon.dashboards.designer.common"}}
{{headJs "js/jquery.validate.js"}}
{{js "js/dashboard.js"}}
{{#fillZone "content"}}
    <div class="container-fluid">
        <div class="row ues-dashboard">

            <div class="col-md-6">
                <form action="" data-toggle="validator" method="post" id="ues-dashboard-form"
                      data-action="<%=tenantedUrlPrefix%>dashboards"
                      data-api-url="<%=tenantedUrlPrefix%>apis/dashboards">

                    <h1 class="page-sub-title">{{i18n "create.a.dashboard"}}</h1>

                    <div class="form-group">
                        <label for="ues-dashboard-title">
                            {{i18n "name.of.your.dashboard"}} <span class="required">*</span>
                        </label>
                        <input type="text" name="title" class="form-control" minlength="5" maxlength="250"
                               id="ues-dashboard-title"
                               placeholder="{{i18n "e.g.sales.statistics"}}" required>
                    </div>

                    <div class="form-group">
                        <label for="ues-dashboard-url">
                            {{i18n "url"}} <span class="required">*</span>
                        </label>
                        <input type="text" name="url" class="form-control" maxlength="100" id="ues-dashboard-url"
                               placeholder="{{i18n "e.g.sales-stats"}}" required>
                    </div>

                    <div class="form-group">
                        <label for="dashboard-description">{{i18n "description"}}</label>
                        <textarea name="description" maxlength="500" class="form-control" id="ues-dashboard-description"
                                  placeholder="{{i18n "e.g.monthly.sales.statistics"}}" rows="3"></textarea>
                    </div>

                    <input type="hidden" name="ues-dashboard-user" id="ues-dashboard-user" value="{{@user.username}}">
                    <button type="button" class="btn btn-primary btn-bordered" id="ues-dashboard-create">{{i18n "next"}}</button>

                </form>
            </div>

        </div>
    </div>
{{/fillZone}}