{{!
Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

{{layout "main"}}
{{fragment "org.wso2.carbon.dashboards.designer.common"}}
{{#fillZone "content"}}
    <!-- breadcrumb -->
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li><a href="#"><i class="icon fw fw-home"></i>{{i18n "dashboards.label"}}</a></li>
            <li class="active dashboard-name truncate">{{id}}</li>
        </ol>
    </div>
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default" data-spy="affix" data-offset-top="85" data-offset-bottom="40">
            <div class="container-fluid ues-context-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">{{i18n "toggle.navigation"}}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-menu-toggle" data-toggle="collapse" data-target="#navbar2" aria-expanded="true" aria-controls="navbar2">
                        <span class="icon fw-stack">
                                <i class="fw fw-down fw-stack-1x"></i>
                        </span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" id="dashboard-settings">
                                    <span class="icon fw-stack">
                                        <i class="fw fw-settings fw-stack-1x"></i>
                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                    </span>
                                {{i18n "settings"}}
                            </a>
                        </li>
                        <li>
                            <a href="#" class="ues-copy">
                                <span class="fw-stack">
                                    <i class="fw-refresh fw-stack-1x"></i>
                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                </span>
                                {{i18n "reset"}}
                            </a>
                        </li>
                        <li id="ues-dashboard-preview-link">
                            <a href="#" class="ues-dashboard-preview">
                                <span class="icon fw-stack">
                                    <i class="fw fw-view fw-stack-1x"></i>
                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                </span>
                                {{i18n "view"}}
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
                <div id="navbar2" class="navbar-collapse dropdown tiles collapse" aria-expanded="true"><!-- nav-collapse -->
                    <ul class="nav navbar-nav collapse-nav-sub">
                        <li data-absolute-position="15" style="left: 15px; position: absolute; display: block;" aria-expanded="false">
                            <a href="../dashboards/"><i class="fw fw-dashboard"></i>{{i18n "dashboards.label"}}</a>
                        </li>
                        <li data-absolute-position="145" style="left: 145px; position: absolute; display: block;" aria-expanded="false">
                            <a href="../widgets/">
                                <i class="fw fw-gadget"></i>{{i18n "gadgets"}}
                            </a>
                        </li>
                        <li data-absolute-position="275" style="left: 275px; position: absolute; display: block;" aria-expanded="false">
                            <a href="../layouts/"><i class="fw fw-layout"></i>{{i18n "layouts"}}</a>
                        </li>
                    </ul>
                </div><!--/ .nav-collapse -->
            </div>
        </nav>
    </div>
    <!-- navbar -->
    <nav class="navbar sidebar-wrapper toggled sub-nav" role="navigation" data-side="left" data-width="52" data-offset-bottom="40">
        <ul class="nav navbar-nav nav-stacked">

            <li>
                <a data-toggle="sidebar" data-target="#left-sidebar" aria-expanded="false" rel="sub-nav"
                   onclick="updateSidebarNav('#sidebarNavPages', this)" title="{{i18n "pages.label"}}"
                id="btn-pages-sidebar">
                <i class="icon fw fw-pages"></i>
                </a>
            </li>
            <li>
                <a data-toggle="sidebar" data-target="#left-sidebar" aria-expanded="false" rel="sub-nav"
                   onclick="updateSidebarNav('#sidebarNavLayouts', this)" title="{{i18n "add.block"}}"
                id="btn-sidebar-layouts">
                <i class="icon fw fw-layout"></i>
                </a>
            </li>
            <li>
                <a data-toggle="sidebar" data-target="#left-sidebar" aria-expanded="false" rel="sub-nav"
                   onclick="updateSidebarNav('#sidebarNavGadgets', this)" title="{{i18n "gadgets"}}"
                id="btn-sidebar-gadgets">
                <i class="icon fw fw-gadget"></i>
                </a>
            </li>
            <li>
                <a data-container-divide="true" aria-expanded="true" data-target="#left-sidebar" data-toggle="sidebar" data-handle="close" rel="sub-nav"
                   onclick="loadMenuCreator(this)" title="{{i18n "pages.menu.label"}}"
                id="btn-sidebar-menu">
                <i class="icon fw fw-menu"></i>
                </a>
            </li>
            <li>
                <a data-toggle="sidebar" data-target="#left-sidebar" aria-expanded="false" rel="sub-nav"
                   onclick="updateSidebarNav('#sidebarNavDashboardLayouts', this)" title="{{i18n "layouts"}}"
                id="btn-sidebar-dashboard-layout">
                <i class="icon fw fw-grid"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- #page-content-wrapper -->
    <div class="page-content-wrapper">

        <!-- .left-sidebar -->
        <div class="sidebar-wrapper sidebar-nav" id="left-sidebar" data-side="left" data-width="250" data-offset-left="52" data-offset-bottom="40" data-container=".page-content-wrapper" data-container-divide="true">

            <button class="btn btn-default close-handle close-sidebar" data-handle="close" data-toggle="sidebar"
                    data-target="#left-sidebar" aria-expanded="true" rel="sub-nav"><i class="fw fw-left-arrow"></i></button>

            <div class="nano">
                <div class="nano-content">

                    <!-- Pages -->
                    <div id="sidebarNavPages">
                        <div class="sidebar-brand">{{i18n "pages.label"}}</div>

                        <div class="add-padding-3x">

                            <button type="button" class="btn btn-primary btn-stack btn-block" data-toggle="sidebar"
                                    data-target="#left-sidebar-sub" aria-expanded="false" rel="createPage">
                                <span class="icon fw-stack fw-lg">
                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                    <i class="fw fw-add fw-stack-1x"></i>
                                </span> {{i18n "create.page.label"}}%>
                            </button>

                            <div class="form-group has-form-control-btn remove-margin-bottom add-margin-top-3x ues-search-box">
                                <button class="form-control-btn" type="button" title="Search">
                                    <i class="fw fw-search" aria-hidden="true"></i>
                                </button>
                                <input type="text" class="form-control" placeholder="{{i18n "search.label"}}...">
                            </div>
                        </div>
                        <div class="panel-group" id="ues-dashboard-pages" role="tablist" aria-multiselectable="true"></div>
                    </div>

                    <!-- Layouts -->
                    <div id="sidebarNavLayouts">
                        <div class="sidebar-brand">{{i18n "add.block.description"}}</div>
                        <div class="add-padding-3x">

                            <div class="form-inline clearfix">
                                <label class="control-label">{{i18n "show.grid.label"}}</label>
                                <label class="switch pull-right">
                                    <input type="checkbox" id="gridGuideToggle">
                                    <span class="helper"></span>
                                </label>
                            </div>
                            <hr />

                            <div class="form-group form-inline remove-margin-bottom">
                                <div class="form-group">
                                    <label class="control-label">{{i18n "width.label"}}</label>
                                    <input type="number" id="block-width" class="form-control number-input" min="1" max="12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">{{i18n "height.label"}}</label>
                                    <input type="number" id="block-height" class="form-control number-input" min="1" max="12" />
                                </div>
                            </div>

                            <div class="text-muted add-margin-bottom-3x add-margin-top-1x">{{i18n "block.size.description"}}</div>

                            <div class="ues-add-block">
                                <div class="ues-block-container">
                                    <div class="ues-dummy-gadget" data-unit-size="18"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary btn-block" id="ues-add-block-btn">{{i18n "add.block.label"}}</button>
                        </div>
                    </div>

                    <!-- Gadgets -->
                    <div id="sidebarNavGadgets" class="ues-store-assets" data-type="gadget">
                        <div class="sidebar-brand">{{i18n "add.gadgets"}}</div>

                        <div class="alert alert-info">
                            {{i18n "gadget.drop.label"}}
                        </div>

                        <div class="add-padding-3x">

                            <div class="form-group has-form-control-btn ues-search-box">
                                <button class="form-control-btn" type="button" title="Search">
                                    <i class="fw fw-search" aria-hidden="true"></i>
                                </button>
                                <input type="text" class="form-control" placeholder="{{i18n "search.label"}}..." />
                            </div>

                            <div class="ues-thumbnails"></div>

                        </div>
                    </div>

                    <!-- View Layout -->
                    <div id="sidebarNavDashboardLayouts" class="ues-store-assets" data-type="gadget">
                        <div class="sidebar-brand">{{i18n "select.layout"}}</div>
                        <div class="add-padding-3x">
                            <div id="ues-view-layouts"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- .left-sidebar-sub -->
        <div class="sidebar-wrapper sidebar-nav sidebar-nav-sub" id="left-sidebar-sub" data-side="left" data-width="250" data-offset-left="52" data-offset-bottom="40" data-container=".page-content-wrapper">
            <div class="nano">
                <div class="nano-content">

                    <button class="btn btn-default close-handle" data-handle="close" data-toggle="sidebar"
                            data-target="#left-sidebar-sub" aria-expanded="true" rel="createPage"><i class="fw fw-cancel"></i></button>

                    <div class="add-padding-3x">
                        {{i18n "select.layout"}}
                        <hr />
                        <div id="ues-page-layouts"></div>
                    </div>

                </div>
            </div>
        </div>

        <!-- page content -->
        <div class="container-fluid body-wrapper menu hierarchical-menu-container" data-view="menu" style="display: none;">
            <div class="add-padding-5x">
                <div id="ues-pages"></div>
            </div>
        </div>
        <div class="container-fluid body-wrapper content" data-view="layout">

            <div class="page-header"></div>

            <!-- .right-sidebar -->
            <div class="sidebar-wrapper sidebar-options" id="right-sidebar" data-side="right" data-container=".page-content" data-container-divide="true" data-width="235">

                <button class="btn btn-default close-handle close-sidebar" data-handle="close" data-toggle="sidebar"
                        data-target="#right-sidebar" aria-expanded="true" rel="show-options" onclick="updateSidebarOptions(this)"><i class="fw fw-right-arrow"></i></button>

                <div class="nano" id="ds-properties-container">
                    <div class="nano-content">
                        <!-- Gadget properties loading -->
                        <div id="gadget-configuration">
                        </div>
                        <!-- View properties loading -->
                        <div id="view-configuration">
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-views-container flex-container">
                <ul class="nav nav-tabs flex-item flex-item-side hidden">
                    <li id="slide-left"><a href="javascript:void(0)"><i class="fw fw-left"></i></a></li>
                </ul>
                <ul class="nav nav-tabs flex-item flex-item-middle" id="designer-view-mode"><!-- Dynamic Content --></ul>
                <ul class="nav nav-tabs flex-item flex-item-side">
                    <li id="add-view" hidden><a href="javascript:void(0)"><i class="fw fw-add"></i></a></li>
                </ul>
                <ul class="nav nav-tabs flex-item flex-item-side hidden">
                    <li id="slide-right"><a href="javascript:void(0)"><i class="fw fw-right"></i></a></li>
                </ul>
                <ul class="nav nav-tabs flex-item flex-item-side">
                    <li id="more-views" hidden>
                        <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false"><i class="fw fw-down"></i></a>
                        <ul id="view-list" class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                    </li>
                </ul>
            </div>

            <div class="page-content">
                <div class="nano">
                    <div class="gird-guide">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        </div>
                    </div>
                    <div class="nano-content">
                        <div class="gadgets-grid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /#page-content-wrapper -->
{{/fillZone}}