<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{placeholder "css"}}
    {{defineZone "header"}}
    {{#placeholder "favicon"}}
        <link rel="shortcut icon" href="{{public "images/default-favicon.png"}}" type="image/png"/>
    {{/placeholder}}
    <title>{{#placeholder "title"}}{{/placeholder}}</title>
</head>
<body class="dashboard fixed lang_en dark"
      data-gadget-theme="dark">
{{defineZone "content"}}
<footer>
    {{placeholder "js"}}
</footer>
</body>
</html>