<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#placeholder "favicon"}}
        <link rel="shortcut icon" href="{{public "images/default-favicon.png"}}" type="image/png"/>
    {{/placeholder}}
    <title>{{#placeholder "title"}}{{/placeholder}}</title>
    {{placeholder "css"}}
    {{defineZone "header"}}
    {{placeholder "headJs"}}
    {{placeholder "headOther"}}

</head>
<body>
{{defineZone "global-navigation"}}
{{defineZone "bread-crumb"}}
{{defineZone "task-bar"}}
{{defineZone "content"}}
<footer>
    {{placeholder "js"}}
</footer>
</body>
</html>