{{secured}}
{{layout "org.wso2.carbon.dashboards.sample.portal.feature.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{css "lib/jquery-ui-1.11.4/jquery-ui.min.css"}}
{{css "css/portal.css"}}
{{css "css/asset.css"}}

{{js "lib/jquery-ui-1.11.4/jquery-ui.min.js"}}

{{#fillZone "content"}}
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-sub-title">{{i18n "dashboards.label"}}</h1>
        </div>
        {{#if isSuperDomain}}
            <div class="col-md-4">
                <ul class="nav nav-pills navbar-right remove-margin filter-dropdown" role="tablist">
                    <li>Filtered By <span id="filter">{{i18n "all.dashboards"}}</span> :
                        <button class="btn btn-default" data-toggle="dropdown" aria-expanded="false"><i
                                class="fw fw-filter"></i></button>
                        <ul class="dropdown-menu arrow arrow-top-right dark sort-list add-margin-top-2x"
                            id="filter-dashboards">
                            <li><a href="#" data-filter="All">{{i18n "all.dashboards"}}</a></li>
                            <li><a href="#" data-filter="Shared">{{i18n "shared.dashboards"}}</a></li>
                            <li><a href="#" data-filter="Tenant">{{i18n "tenant.dashboards"}}{{userDomain}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        {{/if}}
    </div>
    <div class="row thumbnails ues-dashboards" id="ds-assets-portal">
        <div id="ues-portal" class="container-fluid">
            {{#each dashboards}}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ues-dashboard-container">
                    <div class="thumbnail ues-dashboard ds-asset {{#if shared}} shared {{/if}} {{#if sharedAcrossTenants}} shared {{/if}}"
                         id="{{id}}" data-id="{{id}}">
                        {{fragment "dashboard-list-thumbnail"
                        id=id defective=defective
                        description=description
                        editable=editable
                        owner=owner
                        pagesAvailable=pagesAvailable
                        shared=shared
                        sharedAcrossTenants=sharedAcrossTenants
                        title=title userDomain=../userDomain
                        superDomain=../superDomain
                        isNoMobileDevice=../isNoMobileDevice}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/fillZone}}