{{css "css/styles.css"}}
{{css "css/igviz.css"}}
{{css "lib/gridstack/gridstack.min.css"}}
{{js "js/common/d3.min.js"}}
{{js "js/common/igviz.js"}}
{{js "js/common/common.js"}}
{{js "js/common/pubsub.js"}}
{{js "js/common/widget-renderer.js"}}
{{js "lib/gridstack/gridstack.min.js"}}
{{js "js/constants.js"}}
{{js "js/dashboard.js"}}
<div class="page-content-wrapper remove-padding-xs">
    <div class="container-fluid body-wrapper" style="height: 100%;">
        <!--<div class="nano" style="position: absolute;">-->
        <!--<div class="nano-content">-->
        <div class="page-content">
            <!--<div class="progress hidden">-->
            <!--<div class="indeterminate"></div>-->
            <!--</div>-->
            <!-- Components grid -->
            <div class="ues-components-grid gadgets-grid" id="gadgets-grid">
                <div class="grid-stack" id="grid-stack">
                    <div class="grid-stack-item" data-id="a" data-gs-x="0" data-gs-y="0"
                         data-gs-width="12" data-gs-height="3">
                        <div class="grid-stack-item-content ues-component-box gadget-wrapper" id="a">
                            <div style="width:100%;height:100%;background-color: white;"></div>
                        </div>
                    </div>
                    <div class="grid-stack-item" data-id="a" data-gs-x="0" data-gs-y="0"
                         data-gs-width="12" data-gs-height="3">
                        <div class="grid-stack-item-content ues-component-box gadget-wrapper" id="a">
                            <div style="width:100%;height:100%;background-color: white;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
