{{js "js/left-nav.js"}}
<div class="sidebar-wrapper sidebar-nav toggled hidden-xs" id="left-sidebar" data-side="left"
     data-container=".page-content-wrapper" data-container-divide="true" data-width="260" data-offset-bottom="40"
     style="width:260px">
    <div class="nano">
        <div class="nano-content">

            <div class="product-logo">
                <i class="icon fw fw-wso2-logo"></i>
            </div>
            <div class="product-name" data-id="{{@pathParams.id}}">
                {{dashboard.name}}
            </div>

            <div id="ues-pages">
                <ul class="nav nav-pills nav-stacked menu-customize pages">
                    {{#if dashboard.hasPages}}
                        {{#each pages}}
                            <li>
                                <a href="/portal/dashboard/{{../dashboard.id}}?page={{id}}">{{name}}</a>
                                <span id="test" class="refreshBtn" style="background-color:#1e2531; display:none;">
                                    <i class="icon fw fw-undo"></i>
                                </span>
                            </li>
                        {{/each}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>